In [1]:
from datascience import *
import numpy as np

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import ipywidgets as widgets
%run Data_Cleaning_and_Helper_Functions.ipynb

In [213]:
# Lets read in the data 
prisons= Table().read_table("monthly_cdcr.csv")

## The Case of Valley State Prison

Let's start by looking at the Valley State Prison (VSP). To look at only this prison, we will get the rows in our table that only have VSP as the institution_name.

In [214]:
vsp = prisons.where("institution_name", "VSP (VALLEY SP)")
vsp

Unnamed: 0 | year | month | institution_name | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
0          | 1996 | 1     | VSP (VALLEY SP)  | 2294              | 0            | 2294             | 1980              | 115.9            | 1980
34         | 1996 | 2     | VSP (VALLEY SP)  | 2096              | 0            | 2096             | 1980              | 105.9            | 2184
68         | 1996 | 3     | VSP (VALLEY SP)  | 2326              | 7            | 2333             | 2380              | 98               | 2584
102        | 1996 | 4     | VSP (VALLEY SP)  | 2498              | 13           | 2511             | 2380              | 105.5            | 2584
136        | 1996 | 5     | VSP (VALLEY SP)  | 2562              | 9            | 2571             | 2380              | 108              | 2584
171        | 1996 | 6     | VSP (VALLEY SP)  | 2549              | 12           | 2561             | 1980              | 129.3            | 2592
205        | 1996 | 7     | VSP (VALLEY SP)  | 2789              | 31           | 2820             | 1980              | 142.4            | 2592
239        | 1996 | 8     | VSP (VALLEY SP)  | 2750              | 8            | 2758             | 1980              | 139.3            | 2592
273        | 1996 | 9     | VSP (VALLEY SP)  | 2693              | 17           | 2710             | 1980              | 136.9            | 2592
307        | 1996 | 10    | VSP (VALLEY SP)  | 2751              | 6            | 2757             | 1980              | 139.2            | 2592
... (269 rows omitted)

To break down why VSP had more than 276 records, we have to find the years that had more than 12 months of data. To do this, we will group by year, and see the number of times each year appeared. We will use the same methods that we did to see how many months were in each year. The functions are called group() and sort().

In [215]:
vsp.group("year").sort("count", descending = True)

year | count
2012 | 15
2018 | 12
2017 | 12
2016 | 12
2015 | 12
2014 | 12
2013 | 12
2011 | 12
2010 | 12
2009 | 12
... (13 rows omitted)

From the table, we see that there is one year that had 15 months of data. Now that we have isolated a strange event in our dataset, we want to research the reason behind this event. We researched major changes to the Valley State Prison in 2012. From our research, we realized that Valley State Prison changed from a female prison to a male prison in 2012 (October 2012 to be exact). For future analysis, it would be better to separate VSP into its' female and male years.

**SEPARATING THE DATA**

To start, let's isolate the year where we see double counts in our months. We want to select the rows in our `vsp` table that were recorded in 2012. We can do this with the function `where()`. The `where()` function searches through our table and finds the rows that have the value we want in a certain column. 

The format for the function is:
- *data_table.*`where(`*column_name, specified_values_in_column*`)`

In this example, we want to find the values in the table that correspond to the year 2012.

In [216]:
twenty_12 = vsp.where("year", 2012)
twenty_12.show()

Within 2012, we want to separate the months that are repeated from those that only occur once.

In [217]:
questionable_2012 = twenty_12.where("month", are.above(9))
questionable_2012

Unnamed: 0 | year | month | institution_name | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
6885       | 2012 | 10    | VSP (VALLEY SP)  | 1171              | 0            | 1171             | 1536              | 76.2             | 1248
6889       | 2012 | 10    | VSP (VALLEY SP)  | 445               | 0            | 445              | 444               | 100.2            | 488
6919       | 2012 | 11    | VSP (VALLEY SP)  | 720               | 0            | 720              | 1536              | 46.9             | 1020
6923       | 2012 | 11    | VSP (VALLEY SP)  | 937               | 0            | 937              | 444               | 211              | 632
6953       | 2012 | 12    | VSP (VALLEY SP)  | 274               | 0            | 274              | 1536              | 17.8             | 650
6957       | 2012 | 12    | VSP (VALLEY SP)  | 1353              | 0            | 1353             | 444               | 304.7            | 1032

The prison was officially female before October 2012, and was male from 2013 forward. The questionable period was from October 2012 to December 2012. To start separating this data by gender, we will first find the years that we know are definitely female or male.

To find the female years, we look in our vsp table for the years before 2012. To do this we use the condition, `are.below()` which gives all the values below 2012 which will be 1996-2011.

In [218]:
female_vsp = vsp.where("year", are.below(2012)) 
female_vsp

Unnamed: 0 | year | month | institution_name | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
0          | 1996 | 1     | VSP (VALLEY SP)  | 2294              | 0            | 2294             | 1980              | 115.9            | 1980
34         | 1996 | 2     | VSP (VALLEY SP)  | 2096              | 0            | 2096             | 1980              | 105.9            | 2184
68         | 1996 | 3     | VSP (VALLEY SP)  | 2326              | 7            | 2333             | 2380              | 98               | 2584
102        | 1996 | 4     | VSP (VALLEY SP)  | 2498              | 13           | 2511             | 2380              | 105.5            | 2584
136        | 1996 | 5     | VSP (VALLEY SP)  | 2562              | 9            | 2571             | 2380              | 108              | 2584
171        | 1996 | 6     | VSP (VALLEY SP)  | 2549              | 12           | 2561             | 1980              | 129.3            | 2592
205        | 1996 | 7     | VSP (VALLEY SP)  | 2789              | 31           | 2820             | 1980              | 142.4            | 2592
239        | 1996 | 8     | VSP (VALLEY SP)  | 2750              | 8            | 2758             | 1980              | 139.3            | 2592
273        | 1996 | 9     | VSP (VALLEY SP)  | 2693              | 17           | 2710             | 1980              | 136.9            | 2592
307        | 1996 | 10    | VSP (VALLEY SP)  | 2751              | 6            | 2757             | 1980              | 139.2            | 2592
... (182 rows omitted)

For the male years, we look for where the year values are above 2012.

In [219]:
male_vsp = vsp.where("year", are.above(2012)) 
male_vsp

Unnamed: 0 | year | month | institution_name | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
6991       | 2013 | 1     | VSP (VALLEY SP)  | 1936              | 0            | 1936             | 1980              | 97.8             | 1932
7025       | 2013 | 2     | VSP (VALLEY SP)  | 2429              | 0            | 2429             | 1980              | 122.7            | 2332
7059       | 2013 | 3     | VSP (VALLEY SP)  | 2842              | 0            | 2842             | 1980              | 143.5            | 2332
7093       | 2013 | 4     | VSP (VALLEY SP)  | 3103              | 0            | 3103             | 1980              | 156.7            | 2970
7127       | 2013 | 5     | VSP (VALLEY SP)  | 3195              | 0            | 3195             | 1980              | 161.4            | 2970
7161       | 2013 | 6     | VSP (VALLEY SP)  | 3166              | 0            | 3166             | 1980              | 159.9            | 2970
7195       | 2013 | 7     | VSP (VALLEY SP)  | 3105              | 0            | 3105             | 1980              | 156.8            | 2970
7230       | 2013 | 8     | VSP (VALLEY SP)  | 3157              | 0            | 3157             | 1980              | 159.4            | 2970
7265       | 2013 | 9     | VSP (VALLEY SP)  | 3258              | 0            | 3258             | 1980              | 164.5            | 2948
7300       | 2013 | 10    | VSP (VALLEY SP)  | 3290              | 0            | 3290             | 1980              | 166.2            | 3389
... (62 rows omitted)

Now, we can start dealing with 2012. To start let's find the values that are definitely female in 2012. We do this by searching for the months that have values that occur only once.

In [220]:
female_2012 = twenty_12.where("month", are.below_or_equal_to(9))
female_2012

Unnamed: 0 | year | month | institution_name | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
6588       | 2012 | 1     | VSP (VALLEY SP)  | 2650              | 0            | 2650             | 1980              | 133.8            | 2899
6621       | 2012 | 2     | VSP (VALLEY SP)  | 2550              | 0            | 2550             | 1980              | 128.8            | 2701
6654       | 2012 | 3     | VSP (VALLEY SP)  | 2432              | 0            | 2432             | 1980              | 122.8            | 2497
6687       | 2012 | 4     | VSP (VALLEY SP)  | 2296              | 0            | 2296             | 1980              | 116              | 2305
6720       | 2012 | 5     | VSP (VALLEY SP)  | 2209              | 0            | 2209             | 1980              | 111.6            | 2305
6753       | 2012 | 6     | VSP (VALLEY SP)  | 2142              | 0            | 2142             | 1980              | 108.2            | 2305
6786       | 2012 | 7     | VSP (VALLEY SP)  | 1995              | 0            | 1995             | 1980              | 100.8            | 2101
6819       | 2012 | 8     | VSP (VALLEY SP)  | 1866              | 0            | 1866             | 1980              | 94.2             | 2009
6852       | 2012 | 9     | VSP (VALLEY SP)  | 1721              | 0            | 1721             | 1980              | 86.9             | 1692

To add the months in 2012 to the other female years, we will use the `with_rows()` function. This function allows you to add all the rows in your table to another table. To get all the rows within table we use the function `rows`. 

The format we will use is:
- *data_table_one.*`with_rows(`*data_table_two*.`rows)`

In [221]:

all_fem_vsp = female_vsp.with_rows(female_2012.rows)
all_fem_vsp.show(5)

We will also create a new table that will contain all the final values that correspond to when vsp was a male institution.

In [222]:
all_male_vsp = male_vsp
all_male_vsp.show(5)

The next piece of code is a bit advanced for our activity. We will not break down what each part of the code does, but give an overview instead. (If you would like to learn more about what this code is doing, please follow this link: https://www.w3schools.com/python/python_for_loops.asp )

The following code separates the rows that correspond to the female institution into the all_fem_vsp table, and all the rows that correspond to the male institution into the all_male_vsp table

In [223]:
for i in np.arange(questionable_2012.num_rows):
    if i % 2 == 0:
        all_fem_vsp = all_fem_vsp.with_row(questionable_2012.row(i))
    else:
        all_male_vsp = all_male_vsp.with_row(questionable_2012.row(i))

In [224]:
all_fem_vsp.show(5)

In [225]:
all_male_vsp.show(5)

A way to double check that we did this right, we can check that the number of rows in both tables sums up to the number of rows in our original table. We have a function that will count the number of rows in our table for us. The function is called `num_rows`. This returns a number and we can treat the calculation as number so we can add two of these statements.

The format for this function is:
- *data_table.*`num_rows`

The number of rows in the unseparated table:

In [226]:
vsp.num_rows

279

The number of rows after we have split the table into its female and male parts:

In [227]:
all_fem_vsp.num_rows + all_male_vsp.num_rows

279

They match! This means we have all the data from our original table split into the two tables. Now that we have the two values separated, we want a way to distinguish them from each other.

**RENAMING**

The following cell makes the new name for each of the rows in our `all_female_vsp` table. The new name is "VALLEY SP (FEMALE)".

In [228]:
new_prison_name_female = np.array([])
for i in np.arange(all_fem_vsp.num_rows):
    new_prison_name_female = np.append(new_prison_name_female, "VALLEY SP (FEMALE)")
new_prison_name_female

array(['VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)',
       'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)', 'VALLEY SP (FEMALE)'],
      dtype='<U32')

The next cell creates the new names for the `all_male_vsp` table. We will rename them "VALLEY SP (MALE)"

In [229]:
new_prison_name_male = np.array([])
for i in np.arange(all_male_vsp.num_rows):
    new_prison_name_male = np.append(new_prison_name_male, "VALLEY SP (MALE)")
new_prison_name_male

array(['VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)',
       'VALLEY SP (MALE)', 'VALLEY SP (MALE)', 'VALLEY SP (MALE)'],
      dtype='<U32')

Now that we have the new names for the rows in our table, we will update the values in our table. To do this we will be change the name of the institution in our table. Currently the name is "VSP (VALLEY SP)" for all rows in our table, but we want to replace it with the new names. 

To do this we are using the function `with_column()`. This function either adds a new column to our table or replaces an old column with new values. The format for the function is to:
- *data_table.*`with_column(`*column_name*, *column_values*`)`

If the *column_name* already exists in our table, then it will update the values. In our case we want to update the values in "institution_name" with the values `new_prison_name_female`.

In [230]:
modified_vsp_fem_name = all_fem_vsp.with_column("institution_name", new_prison_name_female)
modified_vsp_fem_name

Unnamed: 0 | year | month | institution_name   | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
0          | 1996 | 1     | VALLEY SP (FEMALE) | 2294              | 0            | 2294             | 1980              | 115.9            | 1980
34         | 1996 | 2     | VALLEY SP (FEMALE) | 2096              | 0            | 2096             | 1980              | 105.9            | 2184
68         | 1996 | 3     | VALLEY SP (FEMALE) | 2326              | 7            | 2333             | 2380              | 98               | 2584
102        | 1996 | 4     | VALLEY SP (FEMALE) | 2498              | 13           | 2511             | 2380              | 105.5            | 2584
136        | 1996 | 5     | VALLEY SP (FEMALE) | 2562              | 9            | 2571             | 2380              | 108              | 2584
171        | 1996 | 6     | VALLEY SP (FEMALE) | 2549              | 12           | 2561             | 1980              | 129.3            | 2592
205        | 1996 | 7     | VALLEY SP (FEMALE) | 2789              | 31           | 2820             | 1980              | 142.4            | 2592
239        | 1996 | 8     | VALLEY SP (FEMALE) | 2750              | 8            | 2758             | 1980              | 139.3            | 2592
273        | 1996 | 9     | VALLEY SP (FEMALE) | 2693              | 17           | 2710             | 1980              | 136.9            | 2592
307        | 1996 | 10    | VALLEY SP (FEMALE) | 2751              | 6            | 2757             | 1980              | 139.2            | 2592
... (194 rows omitted)

Likewise, we want to update the all_male_vsp table with the values `new_prison_name_male`.

In [231]:
modified_vsp_male_name = all_male_vsp.with_column("institution_name", new_prison_name_male)
modified_vsp_male_name

Unnamed: 0 | year | month | institution_name | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
6991       | 2013 | 1     | VALLEY SP (MALE) | 1936              | 0            | 1936             | 1980              | 97.8             | 1932
7025       | 2013 | 2     | VALLEY SP (MALE) | 2429              | 0            | 2429             | 1980              | 122.7            | 2332
7059       | 2013 | 3     | VALLEY SP (MALE) | 2842              | 0            | 2842             | 1980              | 143.5            | 2332
7093       | 2013 | 4     | VALLEY SP (MALE) | 3103              | 0            | 3103             | 1980              | 156.7            | 2970
7127       | 2013 | 5     | VALLEY SP (MALE) | 3195              | 0            | 3195             | 1980              | 161.4            | 2970
7161       | 2013 | 6     | VALLEY SP (MALE) | 3166              | 0            | 3166             | 1980              | 159.9            | 2970
7195       | 2013 | 7     | VALLEY SP (MALE) | 3105              | 0            | 3105             | 1980              | 156.8            | 2970
7230       | 2013 | 8     | VALLEY SP (MALE) | 3157              | 0            | 3157             | 1980              | 159.4            | 2970
7265       | 2013 | 9     | VALLEY SP (MALE) | 3258              | 0            | 3258             | 1980              | 164.5            | 2948
7300       | 2013 | 10    | VALLEY SP (MALE) | 3290              | 0            | 3290             | 1980              | 166.2            | 3389
... (65 rows omitted)

**ADD VALUES BACK TO THE ORIGINAL TABLE**

Now that we that we have identified and labeled when VSP was a male or female institution, we want to add these values back to the original table. To do this, we will add the values to a table without VSP in it.

To find a table without VSP values, we need all the rows where VSP is not in the institution_name. We will use the `where()` function.

In [232]:
without_vsp = prisons.where("institution_name", are.not_equal_to("VSP (VALLEY SP)"))
without_vsp

Unnamed: 0 | year | month | institution_name                  | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
1          | 1996 | 1     | SCC (SIERRA CONSERVATION CENTER)  | 322               | 0            | 322              | 320               | 100.6            | 320
2          | 1996 | 1     | NCWF (NO CAL WOMEN'S FACIL)       | 786               | 4            | 790              | 400               | 197.5            | 760
3          | 1996 | 1     | CCWF (CENTRAL CA WOMEN'S FAC)     | 2846              | 13           | 2859             | 2004              | 142.7            | 3224
4          | 1996 | 1     | CRC (CAL REHAB CTR, WOMEN)        | 91                | 703          | 794              | 500               | 158.8            | 842
5          | 1996 | 1     | CIW (CA INSTITUTION FOR WOMEN)    | 1690              | 36           | 1726             | 1026              | 168.2            | 1646
6          | 1996 | 1     | WSP (WASCO SP)                    | 4475              | 62           | 4537             | 2484              | 182.6            | 4484
7          | 1996 | 1     | SCC (SIERRA CONSERVATION CENTER)  | 6010              | 0            | 6010             | 3606              | 166.7            | 5884
8          | 1996 | 1     | SRTA (SANTA RITA CO. JAIL-RC)     | 811               | 0            | 811              | 395               | 205.3            | 750
9          | 1996 | 1     | RJD (RJ DONOVAN CORRECTIONAL FAC) | 4577              | 0            | 4577             | 2200              | 208              | 4566
10         | 1996 | 1     | PVSP (PLEASANT VALLEY SP)         | 4080              | 0            | 4080             | 2208              | 184.8            | 4008
... (9212 rows omitted)

To combine this table with the modified values we will use the `with_rows()` function that we used above. We want to add all the rows from our modified tables to the table without vsp. We do this for both male and female values.

The format to add all the rows from one table to another is:
- *data_table_one.*`with_rows(`*data_table_two*.`rows)`

(A good way to double check that we did this correctly is to see that there are 9501 rows in our table which is the same as 5 shown and 9496 omitted.)

In [233]:
prisons1 = without_vsp.with_rows(modified_vsp_fem_name.rows).with_rows(modified_vsp_male_name.rows)
prisons1.show(5)

In [234]:
prisons1.to_csv("prisons1.csv")

## The Case of Sierra Conservation Center (SCC)

Similar to Valley State Prison, the Sierra Conservation Center had an unexpected number of entries in the table. We want to find out why this differences exists. Let's start by looking at the Sierra Conservation Center (SCC). To look at only this prison, we will get the rows in our table that only have "Sierra Conservation Center (SCC)" as the institution_name.

In [235]:
sierra_cc = prisons1.where("institution_name", "SCC (SIERRA CONSERVATION CENTER)")
sierra_cc.show(5)

In [236]:
prisons1

Unnamed: 0 | year | month | institution_name                  | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
1          | 1996 | 1     | SCC (SIERRA CONSERVATION CENTER)  | 322               | 0            | 322              | 320               | 100.6            | 320
2          | 1996 | 1     | NCWF (NO CAL WOMEN'S FACIL)       | 786               | 4            | 790              | 400               | 197.5            | 760
3          | 1996 | 1     | CCWF (CENTRAL CA WOMEN'S FAC)     | 2846              | 13           | 2859             | 2004              | 142.7            | 3224
4          | 1996 | 1     | CRC (CAL REHAB CTR, WOMEN)        | 91                | 703          | 794              | 500               | 158.8            | 842
5          | 1996 | 1     | CIW (CA INSTITUTION FOR WOMEN)    | 1690              | 36           | 1726             | 1026              | 168.2            | 1646
6          | 1996 | 1     | WSP (WASCO SP)                    | 4475              | 62           | 4537             | 2484              | 182.6            | 4484
7          | 1996 | 1     | SCC (SIERRA CONSERVATION CENTER)  | 6010              | 0            | 6010             | 3606              | 166.7            | 5884
8          | 1996 | 1     | SRTA (SANTA RITA CO. JAIL-RC)     | 811               | 0            | 811              | 395               | 205.3            | 750
9          | 1996 | 1     | RJD (RJ DONOVAN CORRECTIONAL FAC) | 4577              | 0            | 4577             | 2200              | 208              | 4566
10         | 1996 | 1     | PVSP (PLEASANT VALLEY SP)         | 4080              | 0            | 4080             | 2208              | 184.8            | 4008
... (9491 rows omitted)

To break down why Sierra CC had 392 records in the span of 23 years, we have to find the years that had more than 12 months of data. To do this, we will group by year, and see the number of times each year appeared. We will use the same methods that we did to see how many months were in each year. The functions are called `group()` and `sort()`.

In [237]:
sierra_cc.group("year").show()

From this table, we can see that from 1996 to 2004, there was double the number of counts for each month. This could mean that the institution was measuring two different populations. To understand why this difference exists, we had to do research beyond the data.

# ...

**SEPARATING THE DATA**

To separate the two groups, we will isolate the double counts from the single counts. From the table above, we see that there are double counts from 1996-2004, single counts from 2006-2018, and a mixture in 2005. We will separate our data into those three groups by using the `where()` function.

The format for the `where()` function is:
- *data_table.*`where(`*column_name, specified_values_in_column*`)`

In [238]:
double_count = sierra_cc.where("year", are.between_or_equal_to(1996, 2004))
double_count.show(5)

In [239]:
single_counts = sierra_cc.where('year', are.above(2005))
single_counts.show(5)

In [240]:
sierra_2005 = sierra_cc.where('year', 2005)
sierra_2005.show()

For 2005, we will need to break up the year into two groups: double counts in 2005 and single counts in 2005. We can see that there are double counts from January to August and single counts from September to December.

In [241]:
double_2005 = sierra_2005.where('month', are.below(9))
double_2005.show(5)

In [242]:
single_2005 = sierra_2005.where('month', are.above_or_equal_to(9))
single_2005

Unnamed: 0 | year | month | institution_name                 | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4019       | 2005 | 9     | SCC (SIERRA CONSERVATION CENTER) | 6022              | 0            | 6022             | 3606              | 167              | 6107
4053       | 2005 | 10    | SCC (SIERRA CONSERVATION CENTER) | 6164              | 0            | 6164             | 3606              | 170.9            | 6107
4087       | 2005 | 11    | SCC (SIERRA CONSERVATION CENTER) | 6165              | 0            | 6165             | 3606              | 171              | 6107
4121       | 2005 | 12    | SCC (SIERRA CONSERVATION CENTER) | 6165              | 1            | 6166             | 3606              | 171              | 6107

Now that we have identitfied all the double and single counts. It will be easier if we combine all the single and all the double counts into the same tables. To do this we will combine the tables using the `with_rows()` function.

The format to add all the rows from one table to another is:
- *data_table_one.*`with_rows(`*data_table_two*.`rows)`

In [243]:
all_double_sierra = double_count.with_rows(double_2005.rows)
all_double_sierra.show(5)

In [244]:
all_single_sierra = single_counts.with_rows(single_2005.rows)
all_single_sierra.show(5)

With both the single and double counts identified, we can separate the double counts into two groups. The values in one group remain in the hundreds while the other groups has thousands. We will create two tables to add to one for large counts and another for smaller counts.


You do not need to understand the following code. It separates our table with double values into two new tables, where one table has small values and the other table has all of the larger values.

In [245]:
large_counts_table = Table(sierra_cc.labels)
small_counts_table = Table(sierra_cc.labels)


for i in np.arange(all_double_sierra.num_rows):
    if i % 2 == 0:
        small_counts_table = small_counts_table.with_row(all_double_sierra.row(i))
    else:
        large_counts_table = large_counts_table.with_row(all_double_sierra.row(i))

In [246]:
small_counts_table.show(5)

In [247]:
large_counts_table.show(5)

We can see that all the smaller values are in the same table while all the larger values are in the same table. We want these larger counts to be combined with those larger counts in the original table. We saved the larger counts that appeared only once in our table under the name all_single_sierra, so we will add our larger counts to that table using the `with_rows()` function. 

The format is: *data_table_one.*`with_rows(`*data_table_two*.`rows)`

In [248]:
all_larger_values = all_single_sierra.with_rows(large_counts_table.rows).sort('year')
all_larger_values.show(5)

For the smaller counts, there is not a table to add them to, because they are the only occurrences within our sierra table, so we can leave them as is.

In [249]:
small_counts_table.show(5)

**RENAMING**

We have two clear distinct groups, and want to add them back to our original table, but to do so we must rename them to be able to distinguish them in the future. The two cells create a list of names that we will use as our columns. (They will not output anything.)

In [250]:
sierra_prison_institution_name = np.array([])
for i in np.arange(all_larger_values.num_rows):
    sierra_prison_institution_name = np.append(sierra_prison_institution_name, "SIERRA CONSERVATION CENTER (PRISON)")

In [251]:
sierra_firecamp_name = np.array([])
for i in np.arange(small_counts_table.num_rows):
    sierra_firecamp_name = np.append(sierra_firecamp_name, "SIERRA CONSERVATION CENTER (FIRECAMP)")

With these new values, we can rename our data using the `with_column()` function which we will use to change the values in our "institution_name" column.

The format is:
- *data_table.*`with_column(` *column_name*, *column_values*`)`

In [252]:
modified_sierra_prison = all_larger_values.with_column("institution_name", sierra_prison_institution_name)
modified_sierra_prison.show(5)

We do this for the smaller values as well.

In [253]:
modified_sierra_firecamp = small_counts_table.with_column("institution_name", sierra_firecamp_name)
modified_sierra_firecamp.show(5)

**ADD VALUES BACK TO THE ORIGINAL TABLE**

Now that we have all the values, we can add it back to the original table. Here is the prisons1 table from before where we changed vsp.

In [254]:
prisons1 = without_vsp.with_rows(modified_vsp_fem_name.rows).with_rows(modified_vsp_male_name.rows)
prisons1.show(5)

Now, we want to change the prisons updated table to have only the newly labeled values from Sierra Conservation Center. To do this, we will find all the values without "SCC (SIERRA CONSERVATION CENTER)" and add our modified values to that table.

In [255]:
without_sierra = prisons1.where("institution_name", are.not_equal_to("SCC (SIERRA CONSERVATION CENTER)"))
without_sierra.show(5)

Using the table without any of the old Sierra Conservation values, we will add our modified values with the `with_rows()` function. The format is: *data_table_one.*`with_rows(`*data_table_two*.`rows)`

In [256]:
prisons2= without_sierra.with_rows(modified_sierra_prison.rows).with_rows(modified_sierra_firecamp.rows)
prisons2.show(5)

In [257]:
prisons2.to_csv("prisons2.csv")

At this point, we have modified our original table, so that we can later on differentiate between the prison and camp. We have named that value `prisons2`.

## The Case of Los Angeles County State Prison (LAC)

The last unique institution we will break down is Los Angeles County State Prison. Let's start by isolating all occurrences of LAC in our original `prisons` dataset.

In [258]:
la_county_prison = prisons.where("institution_name", "LAC (CA SP, LOS ANGELES COUNTY)")
la_county_prison.show(5)

To break down why LAC had 283 records in the span of 23 years, we have to find the years that had more than 12 months of data. To do this, we will group by year, and see the number of times each year appeared. We will use the same methods that we did to see how many months were in each year. The functions are called `group()` and `sort()`.

In [259]:
la_county_prison.group("year").show()

**SEPARATING THE DATA**

We can see that from 1996-2004 there were single counts, and from 2007-2018 there were also single counts. The other two years, 2005 and 2006, had more than 12 months but less than double, so we will need to analyze those cases individually. Let's start by isolating the single counts from the `la_county_prison`. To do this we will use the `where()` function to find the years: 1996-2004 and 2007-2018.

In [260]:
la_single_counts_before = la_county_prison.where('year', are.between_or_equal_to(1996, 2004))
la_single_counts_before.show(5)

In [261]:
la_single_counts_after = la_county_prison.where('year', are.above_or_equal_to(2007))
la_single_counts_after.show(5)

Rather than having two separate single counts, it will be easier to keep track of one table, so we will combine the two tables into one using the `with_rows()` function from before. The format for the function is: *data_table_one.*`with_rows(`*data_table_two*.`rows)`m

In [262]:
la_all_single_counts = la_single_counts_before.with_rows(la_single_counts_after.rows)
la_all_single_counts.show(5)

Let's move on to the two questionable years of data. To start, we will isolate the two years into two separate tables by using the `where()` function to find all the rows in our table that are in the year 2005.

In [263]:
la_questionable_2005 = la_county_prison.where('year', 2005)
la_questionable_2005.show()

We did the same for 2006.

In [264]:
la_questionable_2006 = la_county_prison.where('year', 2006)
la_questionable_2006.show()

We will split these into single and double counts. We will add the single counts to the table we made above, and deal with the double counts in the next section.

Looking at the `la_questionable_2005`, we see that from January to November there are single counts in 2005, so we will get all the rows before December.

In [265]:
la_single_2005 = la_questionable_2005.where("month", are.below(12))
la_single_2005.show(5)

In the case of 2006, from July to December there were single counts, so we will use the `where()` function to select those values.

In [266]:
la_single_2006 = la_questionable_2006.where('month', are.above(6))
la_single_2006

Unnamed: 0 | year | month | institution_name                | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4388       | 2006 | 7     | LAC (CA SP, LOS ANGELES COUNTY) | 4512              | 0            | 4512             | 2600              | 173.5            | 5084
4424       | 2006 | 8     | LAC (CA SP, LOS ANGELES COUNTY) | 4479              | 0            | 4479             | 2600              | 172.3            | 5084
4460       | 2006 | 9     | LAC (CA SP, LOS ANGELES COUNTY) | 4540              | 0            | 4540             | 2600              | 174.6            | 5084
4496       | 2006 | 10    | LAC (CA SP, LOS ANGELES COUNTY) | 4470              | 0            | 4470             | 2300              | 194.3            | 4418
4532       | 2006 | 11    | LAC (CA SP, LOS ANGELES COUNTY) | 4390              | 0            | 4390             | 2300              | 190.9            | 4418
4567       | 2006 | 12    | LAC (CA SP, LOS ANGELES COUNTY) | 4359              | 0            | 4359             | 2300              | 189.5            | 4658

To keep all the single counts in the same place, we will add the single counts in 2005 and in 2006 to the `la_all_single_counts` table. To do this we use the `with_rows()` function. The format for the function is: *data_table_one.*`with_rows(`*data_table_two*.`rows)`. In the next cell, we do add the single counted values from 2005.

In [267]:
la_all_single_counts = la_all_single_counts.with_rows(la_single_2005.rows)
la_all_single_counts.show(5)

We repeat this process to add 2006.

In [268]:
la_all_single_counts = la_all_single_counts.with_rows(la_single_2006.rows)
la_all_single_counts.show(5)

With all of the single counts out of the way, let's start to break down the double counts. First, let's create tables that have the double counted months in 2005 and 2006. In 2005, this is December only. In 2006, it is from January to June. We use the `where()` function to find those values.

In [269]:
la_double_2005 = la_questionable_2005.where("month", are.above(11))
la_double_2005

Unnamed: 0 | year | month | institution_name                | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4139       | 2005 | 12    | LAC (CA SP, LOS ANGELES COUNTY) | 329               | 0            | 329              | 400               | 82.3             | 400
4140       | 2005 | 12    | LAC (CA SP, LOS ANGELES COUNTY) | 4042              | 0            | 4042             | 2200              | 183.7            | 4684

In [270]:
la_double_2006 = la_questionable_2006.where("month", are.below_or_equal_to(6))
la_double_2006.show(6)

Looking at the `la_double_2005` table we can see that one count is drastically larger than the other. We will separate these counts into the following groups: the first is those with the smaller values and the seond is with the larger values. To do this we will break up the la_double_2005 table into two parts. The first contains only the row with the smaller value and the second contains only the row with the larger value. 


We will do this using the `take()` function which selects a row from your table and puts it into a new table. The format for the `take()` function is:
- *data_table.*`take(`*row_number*`)`

In [271]:
la_smaller = la_double_2005.take(0)
la_smaller

Unnamed: 0 | year | month | institution_name                | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4139       | 2005 | 12    | LAC (CA SP, LOS ANGELES COUNTY) | 329               | 0            | 329              | 400               | 82.3             | 400

In [272]:
la_bigger = la_double_2005.take(1)
la_bigger

Unnamed: 0 | year | month | institution_name                | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4140       | 2005 | 12    | LAC (CA SP, LOS ANGELES COUNTY) | 4042              | 0            | 4042             | 2200              | 183.7            | 4684

Using these two tables as the starting point, we will add the smaller values in 2006 to the la_smaller table, and do the same for the larger values. We will use a similar process from before which splits the data into two different groups for us.

In [273]:
la_smaller = la_double_2005.take(0)
la_bigger = la_double_2005.take(1)

for i in np.arange(la_double_2006.num_rows):
    if i % 2 == 0:
        la_smaller = la_smaller.with_row(la_double_2006.row(i))
    else:
        la_bigger = la_bigger.with_row(la_double_2006.row(i))

We can see now that `la_bigger` and `la_smaller` have more than one row.

In [274]:
la_bigger

Unnamed: 0 | year | month | institution_name                | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4140       | 2005 | 12    | LAC (CA SP, LOS ANGELES COUNTY) | 4042              | 0            | 4042             | 2200              | 183.7            | 4684
4175       | 2006 | 1     | LAC (CA SP, LOS ANGELES COUNTY) | 3737              | 0            | 3737             | 2200              | 169.9            | 4684
4210       | 2006 | 2     | LAC (CA SP, LOS ANGELES COUNTY) | 3388              | 0            | 3388             | 2200              | 154              | 4684
4245       | 2006 | 3     | LAC (CA SP, LOS ANGELES COUNTY) | 3372              | 0            | 3372             | 2200              | 153.3            | 4684
4280       | 2006 | 4     | LAC (CA SP, LOS ANGELES COUNTY) | 3382              | 0            | 3382             | 2200              | 153.7            | 4684
4315       | 2006 | 5     | LAC (CA SP, LOS ANGELES COUNTY) | 3330              | 0            | 3330             | 2200              | 151.4            | 4684
4352       | 2006 | 6     | LAC (CA SP, LOS ANGELES COUNTY) | 3395              | 0            | 3395             | 2200              | 154.3            | 4684

In [275]:
la_smaller

Unnamed: 0 | year | month | institution_name                | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4139       | 2005 | 12    | LAC (CA SP, LOS ANGELES COUNTY) | 329               | 0            | 329              | 400               | 82.3             | 400
4174       | 2006 | 1     | LAC (CA SP, LOS ANGELES COUNTY) | 609               | 0            | 609              | 400               | 152.3            | 400
4209       | 2006 | 2     | LAC (CA SP, LOS ANGELES COUNTY) | 1201              | 0            | 1201             | 400               | 300.2            | 400
4244       | 2006 | 3     | LAC (CA SP, LOS ANGELES COUNTY) | 1165              | 0            | 1165             | 400               | 291.2            | 400
4279       | 2006 | 4     | LAC (CA SP, LOS ANGELES COUNTY) | 1136              | 0            | 1136             | 400               | 284              | 400
4314       | 2006 | 5     | LAC (CA SP, LOS ANGELES COUNTY) | 1145              | 0            | 1145             | 400               | 286.2            | 400
4351       | 2006 | 6     | LAC (CA SP, LOS ANGELES COUNTY) | 1157              | 0            | 1157             | 400               | 289.2            | 400

The larger counts correspond to the single counts from the original table, so we will combin the two into a larger table, while we will keep the smaller counts on their own. TO add the larger values, we will use the `with_rows()` function. The format for the function is: *data_table_one.*`with_rows(`*data_table_two*.`rows)`

In [276]:
la_all_larger = la_all_single_counts.with_rows(la_bigger.rows)
la_all_larger.show(5)

In [277]:
la_smaller

Unnamed: 0 | year | month | institution_name                | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4139       | 2005 | 12    | LAC (CA SP, LOS ANGELES COUNTY) | 329               | 0            | 329              | 400               | 82.3             | 400
4174       | 2006 | 1     | LAC (CA SP, LOS ANGELES COUNTY) | 609               | 0            | 609              | 400               | 152.3            | 400
4209       | 2006 | 2     | LAC (CA SP, LOS ANGELES COUNTY) | 1201              | 0            | 1201             | 400               | 300.2            | 400
4244       | 2006 | 3     | LAC (CA SP, LOS ANGELES COUNTY) | 1165              | 0            | 1165             | 400               | 291.2            | 400
4279       | 2006 | 4     | LAC (CA SP, LOS ANGELES COUNTY) | 1136              | 0            | 1136             | 400               | 284              | 400
4314       | 2006 | 5     | LAC (CA SP, LOS ANGELES COUNTY) | 1145              | 0            | 1145             | 400               | 286.2            | 400
4351       | 2006 | 6     | LAC (CA SP, LOS ANGELES COUNTY) | 1157              | 0            | 1157             | 400               | 289.2            | 400

**RENAMING**

Now, we have two distinct tables. One has the larger values which represent the prison population, and the smaller population which represents a different group from those incarcerated at LAC. To distinguish the two groups in the future, we will rename our table. To do this we will create new names for each column. (The next two cells will not output anything.)

In [278]:
la_larger_values_name = np.array([])
for i in np.arange(la_all_larger.num_rows):
    la_larger_values_name = np.append(la_larger_values_name, "LOS ANGELES COUNTY (STATE PRISON)")

In [279]:
la_smaller_values_name = np.array([])
for i in np.arange(la_smaller.num_rows):
    la_smaller_values_name = np.append(la_smaller_values_name, "LOS ANGELES COUNTY (CAMP)")

With these new values we have generated, we will update the values in our old column. To do this we will use the `with_column()` function. The format for the function is:
- *data_table.*`with_column(`*column_name*, *column_values*`)`

In [280]:
modified_la_prison = la_all_larger.with_column("institution_name", la_larger_values_name)
modified_la_prison.show(5)

In [281]:
modified_la_camp = la_smaller.with_column("institution_name", la_smaller_values_name)
modified_la_camp

Unnamed: 0 | year | month | institution_name          | population_felons | civil_addict | total_population | designed_capacity | percent_occupied | staffed_capacity
4139       | 2005 | 12    | LOS ANGELES COUNTY (CAMP) | 329               | 0            | 329              | 400               | 82.3             | 400
4174       | 2006 | 1     | LOS ANGELES COUNTY (CAMP) | 609               | 0            | 609              | 400               | 152.3            | 400
4209       | 2006 | 2     | LOS ANGELES COUNTY (CAMP) | 1201              | 0            | 1201             | 400               | 300.2            | 400
4244       | 2006 | 3     | LOS ANGELES COUNTY (CAMP) | 1165              | 0            | 1165             | 400               | 291.2            | 400
4279       | 2006 | 4     | LOS ANGELES COUNTY (CAMP) | 1136              | 0            | 1136             | 400               | 284              | 400
4314       | 2006 | 5     | LOS ANGELES COUNTY (CAMP) | 1145              | 0            | 1145             | 400               | 286.2            | 400
4351       | 2006 | 6     | LOS ANGELES COUNTY (CAMP) | 1157              | 0            | 1157             | 400               | 289.2            | 400

A good way to check the progress we have made us to check if the number of rows in our starting `la_county_prison` is the same as the number of rows we have in our two tables. To check the number of rows we use the `num_rows` function. The format for the function is: *data_table.*`num_rows`

In [282]:
la_county_prison.num_rows

283

In [283]:
camp_number = modified_la_camp.num_rows 
la_prison_number = modified_la_prison.num_rows

camp_number + la_prison_number

283

The number of rows in both match, so we can safely continue. To finish we must add the rows back to our table.

**ADD VALUES BACK TO THE ORIGINAL TABLE**

Now that we have all the values, we can add it back to the original table. Here is the prisons2 table from before where we changed vsp and sierra.

In [284]:
prisons2.show(5)

In [285]:
prisons2 = without_sierra.with_rows(modified_sierra_prison.rows).with_rows(modified_sierra_firecamp.rows)
prisons2.show(5)

We want to add the modified LA data to a table without the previous LA data, so we first create a table without the old LA data.

In [286]:
without_la = prisons2.where("institution_name", are.not_equal_to("LAC (CA SP, LOS ANGELES COUNTY)"))
without_la.show(5)

We can add the modified rows with the `with_rows()` function. The format for the function is: *data_table_one.*`with_rows(`*data_table_two*.`rows)`

In [287]:
prisons3 = without_la.with_rows(modified_la_prison.rows).with_rows(modified_la_camp.rows)
prisons3.show(5)

With that, all of the mysterious cases of institutions recording more than 23 years of data is dealt with. From this point, we will use our modified dataset. This exercise was to practiec processing data, and understanding how important it is to research the data you use.

In [288]:
prisons3.to_csv("prisons3.csv")